In [1]:
1+1

2

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

rangeは並べてくれる。最後の数字は入らない。

In [4]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [6]:
name='Sayaka'

In [7]:
name.upper()

'SAYAKA'

upperで全て大文字！

lenは文字列以外でも使えるが、upperは文字列（データ）専用の関数である（→メッソド）

In [8]:
address = 'Tokyo,Japan'

In [9]:
address.split(',')

['Tokyo', 'Japan']

In [10]:
address.split('o')

['T', 'ky', ',Japan']

splitは指定した部分で区切ってくれる。

In [11]:
address.index('T')

0

In [12]:
address.index('p')

8

indexは指定した文字が何文字目にあるかを示してくれる。始まりは０番目から。

In [14]:
address.index('o')

1

indexは左から探して、見つかったら終わり。

In [15]:
address.upper()

'TOKYO,JAPAN'

In [16]:
address.lower()

'tokyo,japan'

In [17]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [18]:
date_a.year

2008

.○○()→括弧ありは、何らかの処理をする。(メッソド)

.○○→括弧なしは、データにアクセスするだけ。(属性)

In [20]:
date.today()

datetime.date(2017, 5, 17)

In [21]:
birthday=date(1998,3,25)

In [22]:
today=date.today()

In [23]:
result=today-birthday

In [24]:
print(result)

6993 days, 0:00:00

In [25]:
today.weekday()

2

In [26]:
date_a

datetime.date(2008, 1, 1)

In [27]:
date_a.weekday()

1

表はMarkdownでかける

|date|
|:--|
|year|
|month|
|day|
|:--|
|weekend()|

In [28]:
date_c=date(2000,5,5)

初期化メッソド(一般的にはコンストラクター)

In [31]:
tmp='2000,5,5'

In [30]:
tmp2=[2000,5,5]