In [1]:
a=[1,2,3,4,5]

In [2]:
合計/データ数

NameError: name '合計' is not defined

In [3]:
合計＝順番に足した結果。合計をｓ＝0とする。ｓに１を加える。ｓに２を加える…

SyntaxError: invalid character in identifier (<ipython-input-3-e3324b148efc>, line 1)

In [4]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [6]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をPと呼び(解釈し)、pをprintする

In [7]:
a=[1,2,3,4,5]
for x in a:
    print('hello')
    print('world')

hello
world
hello
world
hello
world
hello
world
hello
world

In [9]:
list_tohoku = [5349, 5478, 5344, 4644, 4968, 6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

リストの要素を１つずつ名前をつけてとりだす

In [10]:
a

[1, 2, 3, 4, 5]

In [17]:
s=0

for x in a:
        s=s + x
        
s

15

In [18]:
s=0

for x in a:
        s=s + x
        
s/len(a)

3.0

平均の求め方

In [21]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

5340.333333333333

/=は合計値は求まらない。

In [25]:
list_shikoku = [3148, 2991, 2966, 2457]

In [28]:
s=0

for val in list_shikoku:
    s += val
s /= len(list_shikoku)

print(s)

2890.5

In [30]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0

for val in list_shikoku:
    s += val

s/len(list_shikoku)

2890.5

In [33]:
from statistics import *

In [34]:
mean(list_shikoku)

2890.5

In [36]:
mean([1,2,3,4,5])

3

meanはリストの平均。statisticsは統計。

In [43]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [44]:
dic={'A':100,'B':20,'C':3000}

In [45]:
dic['A']

100

In [48]:
for x in dic:
    print(x)

A
B
C

In [49]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [51]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [57]:
s=0

for y in dict_tohoku:
    print(dict_tohoku[y])
    s += dict_tohoku[y]

s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の平均
2.{'A':10,'B':100,'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [60]:
j=[5,4,3,2]

s=0

for x in j:
   s = s + x

s/len(j)

3.5

In [61]:
h={'A':10,'B':100,'C':1000}

s=0

for x in h:
    s = s + h[x]

s/len(h)

370.0

In [64]:
mean(h.values())

370

In [66]:
s=0

for x in h.values():
    s += x
    
s/len(h)

370.0

In [68]:
r={10:'A',100:'B',1000:'C'}

s=0

for key in r:
    s += key
    
s/len(r)

370.0